@font-face {
    font-family: 'Inter UI';
    font-weight: 400;
    font-style: normal;
    src: url('/static/fonts/Inter-Regular.woff2');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 400;
    font-style: italic;
    src: url('/static/fonts/Inter-Italic.woff2');
  }


  @font-face {
    font-family: 'Inter UI';
    font-weight: 500;
    font-style: normal;
    src: url('/static/fonts/Inter-Medium.woff2');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 500;
    font-style: italic;
    src: url('/static/fonts/Inter-MediumItalic.woff2');
  }


  @font-face {
    font-family: 'Inter UI';
    font-weight: 600;
    font-style: normal;
    src: url('/static/fonts/Inter-SemiBold.woff2');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 600;
    font-style: italic;
    src: url('/static/fonts/Inter-SemiBoldItalic.woff2');
  }


  @font-face {
    font-family: 'Inter UI';
    font-weight: 700;
    font-style: normal;
    src: url('/static/fonts/Inter-Bold.woff2');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 700;
    font-style: italic;
    src: url('/static/fonts/Inter-BoldItalic.woff2');
  }
