@import 'variables.scss';

@media (max-width: 767px){
    .headerWrapper{
        width: 100vw;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
        font-family: $font;
        position: fixed;
        z-index: 100;
        .header{
            display: none;
        }
        .mobileHeader{
            .headerStripe{
                height: 84px;
                display: flex;
                align-items: center;
                position: relative;
                background-color: #fff;
                .hamburger{
                    margin-left: 22px;
                }
                .logo{
                    width: 127px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .headerMenu{
                height: 100vh;
                background-color: #4F261C;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .heading{
                    height: 84px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .close{
                        margin-left: 25px;
                    }
                    .logo{
                        width: 127px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                .headerContent{
                    .menuLinks{
                        display: flex;
                        flex-flow: column;
                        font-size: 29px;
                        font-weight: 500;
                        margin: 0 auto;
                        a{
                            color: white;
                            text-decoration: none;
                            text-align: center;
                            margin-bottom: 37px;
                        }
                    }
                }
                .headerCallWrapper{
                    margin: 48px auto 0;
                    width: 234px;
                    height: 51px;
                    background: #FFC700;
                    box-shadow: 4px 4px 22px rgba(98, 48, 36, 0.16);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    img{
                        padding-right: 7px;
                    }
                    span{
                        display: flex;
                        align-self: center;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                }
                .adress{
                    color: white;
                    margin: 26px auto 36px;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    } 
    .none{
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1023px){
    .headerWrapper{
        width: 100vw;
        height: 90px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
        font-family: $font;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        .mobileHeader{
            display: none;
        }
        .header{
            width: 643px;
            margin: 0 auto;
            padding-top: 17px;
            display: flex;
            justify-content: space-between;
            .headerLogo{
                display: block;
                width: 141px;
                height: 47px;
                padding-top: 2px;
            }
            .headerMenuWrapper{
                height: 51px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .headerMenu{
                    width: 430px;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 5px;
                    a{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 23px;
                        text-decoration: none;
                        color: black;
                    } 
                    .headerMenuActive{
                        position: relative;
                        height: 100%;
                        &::after{
                            content: '';
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 6px;
                            top: 53px;
                            background-color: #4F261C;
                        }
                    }
                }
                .headerCallWrapper{
                    display: none;
                }
            }
        }
    }

}

@media (min-width: 1024px) and (max-width: 1439px){
    .headerWrapper{
        width: 100vw;
        height: 90px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
        font-family: $font;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        .mobileHeader{
            display: none;
        }
        .header{
            width: 924px;
            margin: 0 auto;
            padding-top: 17px;
            display: flex;
            justify-content: space-between;
            .headerLogo{
                display: block;
                width: 120px;
                height: 40px;
                padding-top: 6px;
            }
            .headerMenuWrapper{
                height: 51px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .headerMenu{
                    width: 454px;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 34px;
                    a{
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 23px;
                        text-decoration: none;
                        color: black;
                    } 
                    .headerMenuActive{
                        position: relative;
                        height: 100%;
                        &::after{
                            content: '';
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 6px;
                            top: 53px;
                            background-color: #4F261C;
                        }
                    }
                }
                .headerCallWrapper{
                    display: block;
                    width: 234px;
                    height: 51px;
                    background: #FFC700;
                    box-shadow: 4px 4px 22px rgba(98, 48, 36, 0.16);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    img{
                        padding-right: 7px;
                    }
                    span{
                        display: flex;
                        align-self: center;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px){
    .headerWrapper{
        width: 100vw;
        height: 90px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
        font-family: $font;
        position: fixed;
        z-index: 10;
        background-color: #fff;
        .mobileHeader{
            display: none;
        }
        .header{
            width: 1236px;
            margin: 0 auto;
            padding-top: 17px;
            display: flex;
            justify-content: space-between;
            .headerLogo{
                display: block;
                width: 153px;
                height: 51px;
            }
            .headerMenuWrapper{
                height: 51px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .headerMenu{
                    width: 454px;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 34px;
                    a{
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 23px;
                        text-decoration: none;
                        color: black;
                    } 
                    .headerMenuActive{
                        position: relative;
                        height: 100%;
                        &::after{
                            content: '';
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 6px;
                            top: 53px;
                            background-color: #4F261C;
                        }
                    }
                }
                .headerCallWrapper{
                    display: block;
                    width: 234px;
                    height: 51px;
                    background: #FFC700;
                    box-shadow: 4px 4px 22px rgba(98, 48, 36, 0.16);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    img{
                        padding-right: 7px;
                    }
                    span{
                        display: flex;
                        align-self: center;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }}