@import './../variables';

@media (min-width: 1024px) and (max-width: 1439px){
    .serviceSwitchWrapper{
        margin: 46px auto 0;
        width: 660px;
        height: 36px;
        display: flex;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        font-family: $font;
        .serviceSwitchItem{
            user-select: none;
            background-color: #4F261C;
            width: 50%;
            height: 100%;
            text-align: center;
            padding-top: 10px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 16px; 
            color: white;
            transition: 0.2s;
            &:first-of-type{
                border-radius: 16px 0px 0px 16px; 
            }
            &:last-of-type{
                border-radius: 0px 16px 16px 0px;
            }
            &#active{
                transition: 0.2s;
                background-color: white;
                border: 1px solid #341108;
                padding-top: 9px;
                color:#4F261C;
            }
        }
    }
}

@media (min-width: 1440px){
    .serviceSwitchWrapper{
        margin: 46px auto 0;
        width: 624px;
        height: 34px;
        display: flex;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        font-family: $font;
        .serviceSwitchItem{
            user-select: none;
            background-color: #4F261C;
            width: 50%;
            height: 100%;
            text-align: center;
            padding-top: 10px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 16px; 
            color: white;
            transition: 0.2s;
            &:first-of-type{
                border-radius: 16px 0px 0px 16px; 
            }
            &:last-of-type{
                border-radius: 0px 16px 16px 0px;
            }
            &#active{
                transition: 0.2s;
                background-color: white;
                border: 1px solid #341108;
                padding-top: 9px;
                color:#4F261C;
            }
        }
    }
}