@import './../variables';

.serviceRow{
    align-items: center;
    width: 1236px;
    margin: 0 auto;
    font-family: $font;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
