@import '../variables.scss';

@media (max-width:1439px){
    .recomendationsWrapper{
        display: none;
    }
}

@media (min-width: 1440px){
    .recomendationsWrapper{
        font-family: $font;
        background-color: #8A6E59;
        width: 100vw;
        height: 869px;
        .recomendations{
            width: $width;
            margin: 0 auto;
            h1{
                font-weight: 700;
                font-size: 60px;
                line-height: 66px;/* identical to box height */
                text-align: center;
                letter-spacing: -0.02em;
                color: white;
                padding-bottom: 105px;
                padding-top: 61px;
            }
            .recomendationsCarousel{
                display: flex;
                height: 324px;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 131px;
            }
            .recomendationsCall{
                width: 296px;
                height: 68px;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                background: #4F261C;
                box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
                border-radius: 20px;
                text-decoration: none;
                span{
                    text-decoration: none;
                    padding-left: 6px;
                    display: flex;
                    align-self: center;
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 28px;
                    color: white;
                }
                &:hover{
                    box-shadow: 4px 4px 64px #4F261C;
                }
            }
        }
    }
}