@import '../variables.scss';

@media (max-width: 767px){
    .starterWrapper{
        width: 100vw;
        min-height: calc(583px);
        padding-top: 84px;
        font-family: $font;
        .starter{
            position: relative;
            margin: 0 auto;
            width: 320px;
            height: 100%;
            display: flex;
            .starterAdress{
                display: none;
            }
            .starterInfo{
                h1{
                    margin-top: 30px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 113.62%;
                    letter-spacing: -0.02em;
                    color: white;
                    margin-bottom: 24px;
                }
                p{
                    text-align: center;
                    width: 100%;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 137.5%;
                    color: white;
                    margin-bottom: 84px;
                    span{
                        font-weight: 700;
                    }
                }
                .starterButton{
                    width: 268px;
                    height: 65px;
                    background: #4F261C;
                    box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    margin: 0 auto 29px;
                    span{
                        display: flex;
                        align-self: center;
                        transform: translateY(-2px);
                        color: white;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        text-decoration: none;
                    }
                    transition: 0.2s ease-in-out;
                    &:hover{
                        transition: 0.2s ease-in-out;
                        box-shadow: 4px 4px 64px #4F261C;
                    }
                }
                .starterCallButton{
                    display: block;
                    width: 268px;
                    height: 65px;
                    background: #FFC700;
                    box-shadow: 4px 4px 22px rgba(98, 48, 36, 0.16);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    margin: 0 auto;
                    img{
                        padding-right: 7px;
                    }
                    span{
                        display: flex;
                        align-self: center;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                    transition: 0.2s ease-in-out;
                    &:hover{
                        transition: 0.2s ease-in-out;
                        box-shadow: 4px 4px 60px #DDF000;
                    }
                }
            }
        }
    }


}

@media (min-width: 768px) and (max-width: 1024px){
    .starterWrapper{
        width: 100vw;
        height: 100vh;
        font-family: $font;
        .starter{
            position: relative;
            margin: 0 auto;
            width: 643px;
            height: 100%;
            display: flex;
            align-items: center;
            .starterAdress{
                position: absolute;
                right: 0px;
                bottom: 36px;
                text-align: right;
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                color: white;
            }
            .starterInfo{
                h1{
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 113.62%;
                    letter-spacing: -0.02em;
                    color: white;
                    margin-bottom: 49px;
                }
                p{
                    width: 485px;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 137.5%;
                    color: white;
                    margin-bottom: 39px;
                    span{
                        font-weight: 700;
                    }
                }
                .starterButton{
                    width: 268px;
                    height: 65px;
                    background: #4F261C;
                    box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    margin-bottom: 29px;
                    span{
                        display: flex;
                        align-self: center;
                        transform: translateY(-2px);
                        color: white;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        text-decoration: none;
                    }
                    transition: 0.2s ease-in-out;
                    &:hover{
                        transition: 0.2s ease-in-out;
                        box-shadow: 4px 4px 64px #4F261C;
                    }
                }
                .starterCallButton{
                    display: block;
                    width: 268px;
                    height: 65px;
                    background: #FFC700;
                    box-shadow: 4px 4px 22px rgba(98, 48, 36, 0.16);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    img{
                        padding-right: 7px;
                    }
                    span{
                        display: flex;
                        align-self: center;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                    transition: 0.2s ease-in-out;
                    &:hover{
                        transition: 0.2s ease-in-out;
                        box-shadow: 4px 4px 60px #DDF000;
                    }
                }
            }
        }
    }

}

@media (min-width: 1024px) and (max-width: 1439px){
    .starterWrapper{
        width: 100vw;
        height: 100vh;
        font-family: $font;
        .starter{
            position: relative;
            margin: 0 auto;
            width: 924px;
            height: 100%;
            display: flex;
            align-items: center;
            .starterAdress{
                position: absolute;
                right: 0px;
                bottom: 44px;
                text-align: right;
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                color: white;
            }
            .starterInfo{
                h1{
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 113.62%;
                    letter-spacing: -0.02em;
                    color: white;
                    margin-bottom: 32px;
                }
                p{
                    width: 485px;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 137.54%;
                    color: white;
                    margin-bottom: 39px;
                    span{
                        font-weight: 700;
                    }
                }
                .starterButton{
                    width: 238px;
                    height: 58px;
                    background: #4F261C;
                    box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    span{
                        display: flex;
                        align-self: center;
                        transform: translateY(-2px);
                        color: white;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        text-decoration: none;
                    }
                    transition: 0.2s ease-in-out;
                    &:hover{
                        transition: 0.2s ease-in-out;
                        box-shadow: 4px 4px 64px #4F261C;
                    }
                }
                .starterCallButton{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 1440px){
    .starterWrapper{
        width: 100vw;
        height: 100vh;
        font-family: $font;
        .starter{
            position: relative;
            margin: 0 auto;
            width: $width;
            height: 100%;
            display: flex;
            align-items: center;
            .starterAdress{
                position: absolute;
                right: 0px;
                top: 123px;
                text-align: right;
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                color: white;
            }
            .starterInfo{
                h1{
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 68px;
                    letter-spacing: -0.02em;
                    color: white;
                    margin-bottom: 29px;
                }
                p{
                    width: 485px;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 34px;
                    color: white;
                    margin-bottom: 36px;
                    span{
                        font-weight: 700;
                    }
                }
                .starterButton{
                    width: 265px;
                    height: 65px;
                    background: #4F261C;
                    box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-decoration: none;
                    span{
                        display: flex;
                        align-self: center;
                        transform: translateY(-2px);
                        color: white;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        text-decoration: none;
                    }
                    transition: 0.2s ease-in-out;
                    &:hover{
                        transition: 0.2s ease-in-out;
                        box-shadow: 4px 4px 64px #4F261C;
                    }
                }
                .starterCallButton{
                    display: none;
                }
            }
        }
    }
}
