._1GsOjDqIVfQzE0PTy144LV {
  width: 100vw;
  height: 90px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  font-family: "Inter UI";
  position: fixed;
  z-index: 10;
  background-color: #fff; }
  ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ {
    width: 1236px;
    margin: 0 auto;
    padding-top: 17px;
    display: flex;
    justify-content: space-between; }
    ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ ._34WC-nn-NHbgcZE5Wgg821 {
      display: block;
      width: 153px;
      height: 51px; }
    ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg {
      height: 51px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1q2MbpR-8YiDZIqs2_NqPg {
        width: 454px;
        display: flex;
        justify-content: space-between;
        padding-right: 34px; }
        ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1q2MbpR-8YiDZIqs2_NqPg a {
          font-weight: 600;
          font-size: 19px;
          line-height: 23px;
          text-decoration: none;
          color: black; }
        ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1q2MbpR-8YiDZIqs2_NqPg ._1D8pUt6lpRWrfu1aFyYIvi {
          position: relative;
          height: 100%; }
          ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1q2MbpR-8YiDZIqs2_NqPg ._1D8pUt6lpRWrfu1aFyYIvi::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 6px;
            top: 53px;
            background-color: #4F261C; }
      ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1HqPX6mfLOiEyutI66LNku {
        display: block;
        width: 234px;
        height: 51px;
        background: #FFC700;
        box-shadow: 4px 4px 22px rgba(98, 48, 36, 0.16);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none; }
        ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1HqPX6mfLOiEyutI66LNku img {
          padding-right: 7px; }
        ._1GsOjDqIVfQzE0PTy144LV ._2J3Hrr6CpxaPXf0KNc2Yb_ .BUJipB3UbF7PpbXU__Gxg ._1HqPX6mfLOiEyutI66LNku span {
          display: flex;
          align-self: center;
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
          color: black;
          text-decoration: none; }

._1BDeTWFB710CNfQQ32IuZf {
  width: 100vw;
  height: 100vh;
  font-family: "Inter UI"; }
  ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ {
    position: relative;
    margin: 0 auto;
    width: 1236px;
    height: 100%;
    display: flex;
    align-items: center; }
    ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ .GotsD5-A5Ixa_MiZxCbzo {
      position: absolute;
      right: 0px;
      top: 123px;
      text-align: right;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: white; }
    ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ ._4cddlZ6efLmaurqIRoL95 h1 {
      font-weight: 700;
      font-size: 60px;
      line-height: 68px;
      letter-spacing: -0.02em;
      color: white;
      margin-bottom: 29px; }
    ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ ._4cddlZ6efLmaurqIRoL95 p {
      width: 485px;
      font-weight: 500;
      font-size: 25px;
      line-height: 34px;
      color: white;
      margin-bottom: 36px; }
      ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ ._4cddlZ6efLmaurqIRoL95 p span {
        font-weight: 700; }
    ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ ._4cddlZ6efLmaurqIRoL95 ._1gj_guhHLVXibyIgaSmRFN {
      width: 265px;
      height: 65px;
      background: #4F261C;
      box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-content: center;
      text-decoration: none; }
      ._1BDeTWFB710CNfQQ32IuZf ._2rpBUzv5hsNNCITeeMW1BQ ._4cddlZ6efLmaurqIRoL95 ._1gj_guhHLVXibyIgaSmRFN span {
        display: flex;
        align-self: center;
        transform: translateY(-2px);
        color: white;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-decoration: none; }

._1kU9lyierBqlNdYh83wAWu {
  width: 100vw;
  height: 532px;
  background-color: #704E34;
  font-family: "Inter UI"; }
  ._1kU9lyierBqlNdYh83wAWu ._1PdhGz_dV4gk0xUkYsk5oa {
    width: 1236px;
    margin: 0 auto; }
    ._1kU9lyierBqlNdYh83wAWu ._1PdhGz_dV4gk0xUkYsk5oa h1 {
      padding-top: 66px;
      margin-bottom: 83px;
      color: #F1EDEB;
      font-size: 50px;
      line-height: 57px;
      font-weight: 700;
      letter-spacing: -0.02em;
      text-align: center; }
    ._1kU9lyierBqlNdYh83wAWu ._1PdhGz_dV4gk0xUkYsk5oa ._217_TtfXEUx-W0PiMa11bt {
      display: flex;
      justify-content: space-between; }
      ._1kU9lyierBqlNdYh83wAWu ._1PdhGz_dV4gk0xUkYsk5oa ._217_TtfXEUx-W0PiMa11bt ._2hMI762Tmlp3Br-aLxxLTN {
        display: flex;
        flex-flow: column;
        align-items: center; }
        ._1kU9lyierBqlNdYh83wAWu ._1PdhGz_dV4gk0xUkYsk5oa ._217_TtfXEUx-W0PiMa11bt ._2hMI762Tmlp3Br-aLxxLTN h2 {
          font-size: 70px;
          font-weight: 700;
          line-height: 80px;
          letter-spacing: -0.02em;
          color: white;
          margin-bottom: 52px; }
        ._1kU9lyierBqlNdYh83wAWu ._1PdhGz_dV4gk0xUkYsk5oa ._217_TtfXEUx-W0PiMa11bt ._2hMI762Tmlp3Br-aLxxLTN p {
          font-weight: 700;
          font-size: 25px;
          line-height: 34px;
          text-align: center;
          color: white; }

._1nBNq0CpJCBE2e5XdeAb8G {
  width: 100vw;
  font-family: "Inter UI"; }
  ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- {
    width: 1236px;
    margin: 0 auto; }
    ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- h1 {
      padding-top: 48px;
      margin-bottom: 100px;
      text-align: center;
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      color: white; }
    ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- ._221H0vscTTYbVi9_b2eEnr {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- ._221H0vscTTYbVi9_b2eEnr ._3OIxEF_XFLaebL1hJm60bG {
        width: 315px;
        height: 250px;
        padding-bottom: 108px;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        color: white;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px; }
        ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- ._221H0vscTTYbVi9_b2eEnr ._3OIxEF_XFLaebL1hJm60bG img {
          width: 109px;
          max-height: 109px; }
        ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- ._221H0vscTTYbVi9_b2eEnr ._3OIxEF_XFLaebL1hJm60bG p {
          position: absolute;
          top: 163px; }
        ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- ._221H0vscTTYbVi9_b2eEnr ._3OIxEF_XFLaebL1hJm60bG:nth-of-type(3n+2) {
          text-align: center; }
    ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- .TfcVh56c78_77iXY7W5GE {
      width: 296px;
      height: 68px;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      background: #4F261C;
      box-shadow: 4px 4px 44px rgba(98, 48, 36, 0.44);
      border-radius: 20px;
      text-decoration: none; }
      ._1nBNq0CpJCBE2e5XdeAb8G ._2gKXSglENg-RdbqAAX377- .TfcVh56c78_77iXY7W5GE span {
        text-decoration: none;
        padding-left: 6px;
        display: flex;
        align-self: center;
        font-weight: 600;
        font-size: 23px;
        line-height: 28px;
        color: white; }

@font-face {
  font-family: 'Inter UI';
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/Inter-Regular.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/Inter-Italic.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 500;
  font-style: normal;
  src: url("/static/fonts/Inter-Medium.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 500;
  font-style: italic;
  src: url("/static/fonts/Inter-MediumItalic.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 600;
  font-style: normal;
  src: url("/static/fonts/Inter-SemiBold.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 600;
  font-style: italic;
  src: url("/static/fonts/Inter-SemiBoldItalic.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 700;
  font-style: normal;
  src: url("/static/fonts/Inter-Bold.woff2"); }

@font-face {
  font-family: 'Inter UI';
  font-weight: 700;
  font-style: italic;
  src: url("/static/fonts/Inter-BoldItalic.woff2"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


/*# sourceMappingURL=styles.chunk.css.map*/