@import './../variables';

@media (max-width: 767px){
    .taxesWrapper{
        width: 320px;
        margin: 0 auto;
        padding-top: 84px;
        padding-bottom: 100px;
        font-family: $font;
        .taxesWrapperHeader{
            position: relative;
            padding-top: 42px;
            padding-bottom: 15px;
            width: 100%;
            height: 49px;
            border-bottom: 1px solid #9A8974;
            h1{
                position: absolute;
                text-align: center;
                width: 100%;
                top: 30px;
                font-weight: 600;
                font-size: 35px;
                line-height: 54px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #040404;
                opacity: 0.9;
                z-index: 0;
            }
            a{
                display: flex;
                position: absolute;
                z-index: 10;
                width: 36px;
                height: 36px;
                z-index: 1;
                border-radius: 44px;
                box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
                img{
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    cursor: pointer;
                    
                }
            }
        }
        .taxesCardsWrapper{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .taxesWrapper{
        width: 643px;
        margin: 0 auto;
        padding-top: 77px;
        padding-bottom: 100px;
        font-family: $font;
        .taxesWrapperHeader{
            position: relative;
            padding-top: 48px;
            padding-bottom: 68px;
            margin-bottom: 29px;
            width: 643px;
            height: 49px;
            border-bottom: 1px solid #9A8974;
            h1{
                position: absolute;
                text-align: center;
                width: 100%;
                top: 65px;
                font-weight: 600;
                font-size: 45px;
                line-height: 54px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #040404;
                opacity: 0.9;
                z-index: 0;
            }
            a{
                display: flex;
                width: 44px;
                height: 44px;
                position: absolute;
                left: 0;
                bottom: 53px;
                z-index: 1;
                border-radius: 44px;
                box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
                img{
                    position: absolute;
                    cursor: pointer;
                    
                }
            }
        }
        .taxesCardsWrapper{
            display: flex;
            flex-wrap: wrap;
        }
    }    

}

@media (min-width: 1024px) and (max-width: 1439px){
    .taxesWrapper{
        width: 934px;
        margin: 0 auto;
        padding-top: 77px;
        padding-bottom: 100px;
        font-family: $font;
        .taxesWrapperHeader{
            position: relative;
            padding-top: 45px;
            padding-bottom: 68px;
            margin-bottom: 29px;
            width: 932px;
            height: 49px;
            border-bottom: 1px solid #9A8974;
            h1{
                position: absolute;
                text-align: center;
                width: 100%;
                top: 65px;
                font-weight: 600;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #040404;
                opacity: 0.9;
                z-index: 0;
            }
            a{
                display: flex;
                width: 44px;
                height: 44px;
                position: absolute;
                left: 0;
                z-index: 1;
                bottom: 53px;
                border-radius: 44px;
                box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
                img{
                    position: absolute;
                    cursor: pointer;
                }
            }
        }
        .taxesCardsWrapper{
            display: flex;
            flex-wrap: wrap;
        }
    }    
}

@media (min-width: 1440px){
    .taxesWrapper{
        width: 1236px;
        margin: 0 auto;
        padding-top: 77px;
        padding-bottom: 100px;
        font-family: $font;
        .taxesWrapperHeader{
            position: relative;
            padding-top: 45px;
            padding-bottom: 32px;
            margin-bottom: 45px;
            width: 1236px;
            height: 100px;
            border-bottom: 1px solid #9A8974;
            h1{
                position: absolute;
                text-align: center;
                width: 100%;
                top: 65px;
                font-weight: 600;
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #040404;
                opacity: 0.9;
                z-index: 0;
            }
            a{
                display: flex;
                width: 44px;
                height: 44px;
                position: absolute;
                z-index: 1;
                bottom: 60px;
                border-radius: 44px;
                box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
                img{
                    position: absolute;
                    cursor: pointer;
                }
            }
        }
        .taxesCardsWrapper{
            display: flex;
            flex-wrap: wrap;
        }
    }    
}