@import './../variables';

@media (min-width: 768px) and (max-width: 1023px){
    .taxesCard{
        position: relative;
        width: 50%;
        height: 183px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 16px 21px 17px 21px;
        box-sizing: border-box;
        font-family: $font;
        transition: 0.5s;
        text-decoration: none;
        position: relative;
        border-bottom: 1px solid #9A8974;
        .illustration{
            top: 0px;
            bottom: 10px;
            left:0;
            right:0;
            margin: auto;
            position: absolute;
            max-width: 40px;
        }
        .taxesCardTagsWrapper{
            display: flex;
            flex-flow: column;
            position: relative;
            .taxesCardTag{
                display: flex;
                align-items: center;
                font-size: 16px;
                opacity: 0.4;
                padding-bottom: 5px; 
                img{
                    display: block;
                }
                span{
                    text-decoration: none;
                    color: black;
                    margin-left: 7px;
                    font-weight: 500;
                }
            }
            .taxesCardChevron{
                position: absolute;
                transform: rotate(180deg);
                right: 0px;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
                border-radius: 44px;
            }
        }
        h2{
            position: absolute;
            transform: translateX(-21px);
            top: 116px;
            text-align: center;
            width: 100%;
            font-size: 17px;
            line-height: 25px;
            text-transform: uppercase;
            text-decoration: none;
                    color: black;
        }
        &:nth-child(2n+1){
            border-right: 1px solid #9A8974;
        }
        &:nth-last-child(-n+2){
            border-bottom: 0px;
        }
        &:hover{
            transition: 0.5s;
            background-color: #fff;
            box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
        }
        &:active{
            transition: 0.5s;
            background-color: #fff;
            box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
        }
    }

}

@media (min-width: 1024px) and (max-width: 1439px){
    .taxesCard{
        position: relative;
        width: 33%;
        height: 165px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 16px 21px 17px 21px;
        box-sizing: border-box;
        font-family: $font;
        transition: 0.5s;
        text-decoration: none;
        position: relative;
        .illustration{
            top: 0px;
            bottom: 25px;
            left:0;
            right:0;
            margin: auto;
            position: absolute;
            max-width: 40px;
        }
        .taxesCardTagsWrapper{
            display: flex;
            justify-content: space-between;
            .taxesCardTag{
                display: flex;
                align-items: center;
                font-size: 16px;
                img{
                    display: block;
                }
                span{
                    text-decoration: none;
                    color: black;
                    margin-left: 7px;
                    font-weight: 500;
                }
            }
            .taxesCardChevron{
                display: none;
            }
        }
        h2{
            position: absolute;
            transform: translateX(-21px);
            top: 105px;
            text-align: center;
            width: 100%;
            font-size: 17px;
            line-height: 25px;
            text-transform: uppercase;
            text-decoration: none;
                    color: black;
        }
        &:nth-child(3n+0){
            border-bottom: 1px solid #9A8974;
            border-left: 1px solid #9A8974;
        }
        &:nth-child(3n+1){
            border-bottom: 1px solid #9A8974;
            border-right: 1px solid #9A8974;
        }    
        &:nth-child(3n+2){
            border-bottom: 1px solid #9A8974;
        }
        &:nth-last-child(-n+3){
            border-bottom: 0px;
        }
        &:hover{
            transition: 0.5s;
            background-color: #fff;
            box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
        }
    }
}

@media (min-width: 1440px){
    .taxesCard{
        position: relative;
        width: 33%;
        height: 254px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 23px 30px 17px 30px;
        box-sizing: border-box;
        font-family: $font;
        transition: 0.5s;
        text-decoration: none;
        .illustration{
            top: 0;
            bottom: 0;
            left:0;
            right:0;
            margin: auto;
            position: absolute;
            max-width: 55px;
        }
        .taxesCardTagsWrapper{
            display: flex;
            justify-content: space-between;
            .taxesCardTag{
                display: flex;
                align-items: center;
                font-size: 16px;
                img{
                    display: block;
                }
                span{
                    text-decoration: none;
                    color: black;
                    margin-left: 7px;
                    font-weight: 500;
                }
            }
            .taxesCardChevron{
                display: none;
            }
        }
        h2{
            text-align: center;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
            text-decoration: none;
                    color: black;
        }
        &:nth-child(3n+0){
            border-bottom: 1px solid #9A8974;
            border-left: 1px solid #9A8974;
        }
        &:nth-child(3n+1){
            border-bottom: 1px solid #9A8974;
            border-right: 1px solid #9A8974;
        }    
        &:nth-child(3n+2){
            border-bottom: 1px solid #9A8974;
        }
        &:nth-last-child(-n+3){
            border-bottom: 0px;
        }
        &:hover{
            transition: 0.5s;
            background-color: #fff;
            box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
        }
    }
}