@import './../variables';

.taxesCard{
    position: relative;
    width: 33%;
    height: 254px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 23px 30px 17px 30px;
    box-sizing: border-box;
    font-family: $font;
    transition: 0.5s;
    text-decoration: none;
    .illustration{
        top: 0;
        bottom: 0;
        left:0;
        right:0;
        margin: auto;
        position: absolute;
        max-width: 55px;
    }
    .taxesCardTagsWrapper{
        display: flex;
        justify-content: space-between;
        .taxesCardTag{
            display: flex;
            align-items: center;
            font-size: 16px;
            img{
                display: block;
            }
            span{
                text-decoration: none;
                color: black;
                margin-left: 7px;
                font-weight: 500;
            }
        }
    }
    h2{
        text-align: center;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
                color: black;
    }
    &:nth-child(3n+0){
        border-bottom: 1px solid #B3A99F;
        border-left: 1px solid #B3A99F;
    }
    &:nth-child(3n+1){
        border-bottom: 1px solid #B3A99F;
        border-right: 1px solid #B3A99F;
    }    
    &:nth-child(3n+2){
        border-bottom: 1px solid #B3A99F;
    }
    &:nth-last-child(-n+3){
        border-bottom: 0px;
    }
    &:hover{
        transition: 0.5s;
        background-color: #fff;
        box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
    }
}